*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:rgb(186, 237, 236); 
}
.section1 {
    text-align: center;
    padding-top: 15px;
}

.section1 h1 {
    color: rgb(18, 17, 18);
    font-size: 25px;
}

.gi {
    display:flex;
    flex-direction: row;
    gap:20px;
}
.ck {
    display:flex;
    flex-direction:row;
    align-items: center;
    gap:20px;

}
.gi input ,.go input{
    width: 30px;
}
.section h3 {
    padding: 10px 10px;
}
.go {
    display: flex;
    align-items: center;
    flex-direction:column;
    justify-content: center;
    border-bottom: 2px solid rgb(99, 98, 98);
    background-color:rgb(186, 237, 236);
    padding: 20px 0px;
}
.row1, .row2 {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 18px;
    color: rgb(15, 15, 15);
    font-size: 20px;
    align-items: center; 
    padding-top: 20px;
}
.row2 {
    padding-bottom: 20px;
    color:rgb(11, 11, 11);
}

input {
    border-radius: 25px;
    height:35px;
    width: 280px;
    padding-left: 20px;
}

input:hover {
    background-color: rgb(92, 95, 94);
    color: white;
}

.section2 {
    text-align: center;
    padding-top: 15px;
    opacity: 0.9;
}

.section2 h1 {
    color: rgb(22, 23, 22);
    padding: 20px 20px;
    font-size: 25px;
}

button{
    padding: 10px;
    border:solid 3px rgb(246, 83, 7);
    background-color: rgb(0, 132, 255);
    color: purple;
    border-radius: 25px;
    width:250px;
    align-items: center;
    margin-top: 20px;
}

button:hover{
   
    background-color: green;
    color: rgb(200, 200, 21);
}

#ticket-data{
    padding: 20px 0px;
    color: rgb(23, 23, 23);
    text-align:center; 
} 

#ticket-data p,#ticket-data h3{
    font-size: 18px; 
}
